$background-item: #469dcf;
$letters-color: #fff;
$size-titles: 24px;
$custom-padding: 10px 11px 12px 13px;

.container__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media(min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.container__img-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media(min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
}